<!-- @if(isLoading) {
  <div class="flex justify-center items-center h-[65vh]">
    <app-loading></app-loading>

  </div>
} @else {
  
  <div class="flex justify-center items-center">
      <div class="2xl:mx-auto 2xl:container py-12 px-4 sm:px-6 xl:px-20 2xl:px-0 w-full">
        <div class="flex flex-col jusitfy-center items-center space-y-10">
          <div class="flex flex-col justify-center items-center ">
            <h1 class="text-3xl xl:text-4xl font-semibold leading-7 xl:leading-9 text-sky-500 dark:text-white">Shop By Category</h1>
          </div>
  
        
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-x-4 md:gap-x-8 w-full">
  
              @for (category of categoriesArr; let i = $index;track $index) {
  
                  
                @if((i+1)%4 == 1 )
                {

                  <div class="relative group flex justify-center items-center h-full w-full">
                      <img class="object-center object-cover h-full w-full" [src]="category.image" [alt]="category.name" />
                      <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-3 w-36 bg-indigo-50">{{category.name}}</button>
                      <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-36 bg-white bg-opacity-50"></div>
                    </div>
                  
                }

                <div class="flex flex-col space-y-4 md:space-y-8 mt-4 md:mt-0">

                  @if((i+1)%4 == 2 ){
                    <div class="relative group flex justify-center items-center h-full w-full">
                      <img class="object-center object-cover h-full w-full" [src]="category.image" alt="shoe-image" />
                      <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-3 w-36 bg-white">{{category.name}}</button>
                      <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-36 bg-white bg-opacity-50"></div>
                    </div>
    
                  }
    
                  @if((i+1)%4 == 3 ){
    
                    <div class="relative group flex justify-center items-center h-full w-full">
                      <img class="object-center object-cover h-full w-full" [src]="category.image" alt="watch-image" />
                      <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-3 w-36 bg-white">{{category.name}}</button>
                      <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-36 bg-white bg-opacity-50"></div>
                    </div>
                  }
                </div>

                @if((i+1)%4 == 0 ){
                  <div class="relative group justify-center items-center h-full w-full hidden lg:flex">
                    <img class="object-center object-cover h-full w-full" [src]="category.image" alt="girl-image" />
                    <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-3 w-36 bg-white">{{category.name}}</button>
                    <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-36 bg-white bg-opacity-50"></div>
                  </div>
                  
                  
                  <div class="relative group flex justify-center items-center h-full w-full mt-4 md:hidden md:mt-8 lg:hidden">
                    <img class="object-center object-cover h-full w-full hidden md:block" [src]="category.image" alt="girl-image" />
                    <img class="object-center object-cover h-full w-full md:hidden" [src]="category.image" alt="olive-tatiane-Im-Ez-F9-B91-Mk-unsplash-2" />
                    <button class="dark:bg-gray-800 dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 bottom-4 z-10 absolute text-base font-medium leading-none text-gray-800 py-3 w-36 bg-white">{{category.name}}</button>
                    <div class="absolute opacity-0 group-hover:opacity-100 transition duration-500 bottom-3 py-6 z-0 px-20 w-36 bg-white bg-opacity-50"></div>
                  </div>
                }
  
      
                  
      
              }

           

            
    
           
  
          </div>

          
  
        </div>
      </div>
    </div>
} -->

@if(isLoading) {
  <div class="flex justify-center items-center h-[65vh]">
    <app-loading></app-loading>

  </div>
} @else {

    <div class="bg-white dark:bg-gray-800  py-6 sm:py-8 lg:py-12">
      <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
          <div class="mb-4 flex items-center justify-center gap-8 sm:mb-8 md:mb-12">
              <div class="flex items-center gap-12">
                  <h1 class="text-3xl xl:text-4xl font-semibold leading-7 xl:leading-9 text-sky-500 dark:text-white text-center">Shop By Category</h1>

    
                
              </div>
    
              
          </div>
    
          <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
    
            @for (cat of categoriesArr; let i = $index;track cat._id) {
    
              @if((i+1)%4 == 1){
                <a href="#"
                    class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80">
                    <img [src]="cat.image" loading="lazy" alt="Photo by Minh Pham" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
    
                    <div
                        class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
                    </div>
    
                    <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg">{{cat.name}}</span>
                </a>
              }
              @if((i+1)%4 == 2){
                <a href="#"
                    class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80">
                    <img [src]="cat.image" loading="lazy" alt="Photo by Magicle" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
    
                    <div
                        class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
                    </div>
    
                    <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg">{{cat.name}}</span>
                </a>
              }
              @if((i+1)%4 == 3){
                <a href="#"
                class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-80">
                <img [src]="cat.image" loading="lazy" alt="Photo by Martin Sanchez" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
    
                <div
                    class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
                </div>
    
                <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg">{{cat.name}}</span>
            </a>
              }
              @if((i+1)%4 == 0){
                <a href="#"
                      class="group relative flex h-48 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-80">
                      <img [src]="cat.image" loading="lazy" alt="Photo by Lorenzo Herrera" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
    
                      <div
                          class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
                      </div>
    
                      <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg">{{cat.name}}</span>
                  </a>
              }
    
            }
            
          
              <!-- image - start -->
            
              <!-- image - end -->
    
              <!-- image - start -->
            
              <!-- image - end -->
    
              
              
          </div>
          
    
      </div>
    </div>
}


