<section
  class="product-section"
>
        <img
            [src]="product.imageCover"
            class="product-img"
            [alt]="product.title"
        />


        <app-product-stars [ratingAverageStars]="product.ratingsAverage"></app-product-stars>


        <h1
            class="product-title"
        >
            {{ product.title }}
        </h1>
        <h2 class="text-main-color-0aad0a"> {{product.category.name}} </h2>
        <p class="product-desc">
            {{ product.description }}
        </p>
        <h2 class="font-semibold mb-5">${{ product.price }}</h2>
        <button
            class="product-add-to-cart-btn"
        >
            Add To Cart
        </button>
</section>
