<section class="product-section">
    <div [routerLink]="'/productDetails/'+product._id">
        <img [src]="product.imageCover" class="product-img" [alt]="product.title" />


        <app-product-stars [ratingAverageStars]="product.ratingsAverage" class="mt-5 block"></app-product-stars>


        <h1 class="product-title">
            {{ product.title }}
        </h1>
        <h2 class="text-main-color-0aad0a"> {{product.category.name}} </h2>
        <p class="product-desc">
            {{ product.description }}
        </p>
        <h2 class="font-semibold mb-5">${{ product.price }}</h2>

    </div>

    <app-add-to-cart-button [productId]="product._id" class="w-3/4 mx-auto"></app-add-to-cart-button>
</section>